@charset "UTF-8";
/* 메인콘텐츠 */
@import url(./reset.css);
@import url(./common.css);
.spot {
  width: 100%;
  height: 100vh;
  position: relative;
}
@media (max-width: 767px) {
  .spot {
    width: 100%;
  }
}

.spot .slide figure {
  height: 100vh;
}

.spot .slide figure img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.spot .slide .indi {
  position: absolute;
  left: 0;
  bottom: 5%;
  width: 100%;
  text-align: center;
  z-index: 3;
}

.spot .slide .indi button {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: white;
  font-size: 0;
  transition: 0.5s;
}

.spot .slide .indi button:hover {
  width: 60px;
}

.spot .txt {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  pointer-events: none;
  overflow: hidden;
}

.spot .txt > p {
  font-size: 2rem;
  display: block;
  animation: txt-1 1s forwards;
}
@media (max-width: 767px) {
  .spot .txt > p {
    font-size: 1rem;
  }
}

.spot .txt > b {
  font-size: 4.4rem;
  display: block;
  animation: txt-1 1s forwards;
}
@media (max-width: 767px) {
  .spot .txt > b {
    font-size: 2rem;
  }
}

@keyframes txt-1 {
  100% {
    transform: translateY(0%);
  }
}
@keyframes line-1 {
  100% {
    width: 100%;
  }
}
/* section */
section {
  padding: 100px 0;
}
@media (max-width: 767px) {
  section {
    padding: 48px 24px;
  }
}

section > div {
  max-width: var(--pc-wid);
  margin: 0 auto;
}

.service-items {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .service-items {
    flex-direction: column;
  }
}

.service-items > figure {
  width: 30%;
  text-align: center;
}
@media (max-width: 767px) {
  .service-items > figure {
    width: 100%;
    margin-top: 20px;
  }
}

.service-items > figure > p {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: var(--color-point);
  font-size: 3rem;
  color: black;
  line-height: 130px;
}

.service-items > figure > figcaption > b {
  display: block;
  font-size: 2rem;
  color: #212529;
  margin: 8px 0 8px;
}

.portfolio-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px 0;
}
@media (max-width: 767px) {
  .portfolio-items {
    flex-direction: column;
  }
}

.portfolio-items > figure {
  width: 32%;
}
@media (max-width: 767px) {
  .portfolio-items > figure {
    width: 100%;
  }
}

.portfolio-items > figure > p {
  position: relative;
  padding-top: 62%;
  transform-style: preserve-3d;
  transition: 2s;
  /* animation: card 3s infinite; */
}

@keyframes card {}
.portfolio-items > figure:hover > p {
  transform: rotateY(180deg) perspective(600px);
}

.portfolio-items > figure > p > img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.portfolio-items > figure > p > img:nth-child(2) {
  transform: translateZ(-10px) rotate(180deg);
}

/* .portfolio-items > figure > p > img:hover{
    transform: translateZ(-50px) rotateY(360deg);
    transition: 3s;
} */
.portfolio-items > figure > figcaption {
  padding: 24px 0;
  text-align: center;
}

.portfolio-items > figure > figcaption > b {
  font-size: 1.5rem;
  color: #333;
}

/* contact */
.contact-form {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact-form {
    flex-direction: column;
  }
}

.contact-form > div {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact-form > div {
    width: 100%;
  }
}

/* flex-direction: rows;
ㄴjustify-content: space-between; 가로정렬
flex-direction: column;
ㄴjustify-content: space-between; 세로정렬 */
.contact-form > div > input,
.contact-form > div > textarea {
  padding: 24px;
  border-radius: 10px;
  width: 100%;
  border: none;
}
@media (max-width: 767px) {
  .contact-form > div > input,
  .contact-form > div > textarea {
    margin-bottom: 8px;
  }
}

.contact-form > div > textarea {
  height: 240px;
}

.contact-form > div > input::-moz-placeholder, .contact-form > div > textarea::-moz-placeholder {
  text-transform: uppercase;
  font-weight: bold;
  color: #cecece;
}

.contact-form > div > input::placeholder,
.contact-form > div > textarea::placeholder {
  text-transform: uppercase;
  font-weight: bold;
  color: #cecece;
}